:host {
	display: inline-block;
}

:host(.spin) .logo,
:host(.spin) .logo > polygon {
	fill: inherit;
}

:host .logo { transform-origin: 50% 50%; }
:host(.spin) .logo { animation-name: rotate; }
:host(.spin) .top { animation-name: top; }
:host(.spin) .bottom { animation-name: bottom; }

:host(.spin) .logo,
:host(.spin) .top,
:host(.spin) .bottom {
	animation-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
	animation-duration: 3s;
	animation-iteration-count: infinite;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}

	50% {
		transform: rotate(180deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes top {
	0% {
		transform: translate(0,0);
	}

	50% {
		transform: translate(-125px, 125px);
	}

	100% {
		transform: translate(0,0);
	}
}


@keyframes bottom {
	0% {
		transform: translate(0,0);
	}
	
	50% {
		transform: translate(175px, -175px);
	}

	100% {
		transform: translate(0,0);
	}
}

@keyframes pulse {
	from {
		transform: scale(1);
	}

	50% {
		transform: scale(.75);
		filter: blur(5px);
	}

	to {
		transform: scale(1);
	}
}