<form (ngSubmit)="submit()">
	
		<div class="row">
			<div class="col-md-6">
				<ui-card z="1">
					<div class="form-group" [class.has-danger]="!!errors.name">
						<label>Display Name</label>
						<input type="text" name="name" [(ngModel)]="account.name" class="form-control form-control-lg" required>
						<p class="form-control-feedback" *ngIf="!!errors.name">
							{{errors.name}}
						</p>
					</div>

					<div class="form-group">
						<label>Status Message</label>
						<input type="text" name="status" [(ngModel)]="account.data.accountStatus" class="form-control" maxlength="128">
					</div>

					<div class="form-group" [class.has-danger]="!!errors.slug">
						<label>Public Profile Settings</label>
						<div class="form-check">
							<label class="form-check-label">
								<input type="checkbox" class="form-check-input" name="isPublic" [(ngModel)]="account.isPublic">
								Allow other users to view my profile
							</label>
						</div>
						<div class="input-group">
							<code class="input-group-addon">
								{{environment.baseUrl}}/u/
							</code>
							<input type="text" name="slug" [(ngModel)]="account.slug" class="form-control" required>
						</div>
						<small class="text-muted form-text">
							This will be the direct path to your profile
						</small>
						<p class="form-control-feedback" *ngIf="!!errors.slug">
							{{errors.slug}}
						</p>
					</div>

					<div class="form-group">
						<label>Theme</label>
						<ui-theme-editor [(model)]="account.theme"></ui-theme-editor>
					</div>

					<footer>
						<ui-button value="Save Changes"></ui-button>
					</footer>
				</ui-card>
			</div>

			<div class="col-md-6">
				<ui-tile [theme]="account.theme">
					<h5>{{account.name}}</h5>
				</ui-tile>
			</div>
		</div>
		
		
</form>