:host {
	width: 250px;
	height: 250px;
	padding: 10px 10px 0 10px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	overflow: hidden;
}
	.info {
		padding: 20px;
		background-color: #fff;
		color: #212121;
		transition: all .3s ease-in-out;
		box-shadow: 0 2px 6px rgba(0,0,0,.1);
	}
	:host(:hover) > .info {
		box-shadow: 0 8px 10px rgba(0,0,0,.3);
		transform: translateY(-10px);
	}
		.info > h1 { font-size: 20px; }