:host {
	display: flex;
	flex-direction: column;
	position: relative;
}
ui-card {
	padding: 0px;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	justify-content: flex-end;
	overflow: hidden;
	position: relative;
	transition: all .2s ease-in-out;
}
	.info {
		display: flex;
		flex-direction: column;
		position: relative;
		padding: 15px;
		z-index: 2;
		flex-grow: 1;
	}
		.info > .desc {
			margin: 0;
			flex-grow: 1;
			overflow: hidden;
		}
	
	.cover {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 1;
		opacity: .15;
		transition: .2s ease-in-out;
	}
	ui-card:hover .cover {
		opacity: .35;
	}