:host {
	display: flex;
	flex-direction: column;
	position: relative;
}
ui-card {
	padding: 0px;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	justify-content: flex-end;
	overflow: hidden;
	position: relative;
	transition: all .2s ease-in-out;
}
	.info {
		display: flex;
		flex-direction: column;
		position: relative;
		padding: 15px;
		z-index: 2;
		flex-grow: 1;
	}
		.info > .desc {
			margin: 0;
			flex-grow: 1;
			overflow: hidden;
		}
	
	.cover {
		flex-shrink: 0;
		max-height: 150px;
		overflow: hidden;
		z-index: 1;
	}
		.cover > img {
			transition: all .2s ease-in-out;
			width: 100%;
		}

		.cover > img.hidden {
			opacity: 0;
			transform: scale(1.4) translateY(-30px);
			height: 0;
		}