:host {
	display: flex;
	flex-direction: column;
}

label {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	align-items: center;
	cursor: pointer;
	margin: 0;
}

	label .message { flex-grow: 1; }
	label .icon { margin-right: 10px; }
	label .clear { margin-left: 10px; }