<ul>
	<li *ngFor="let item of items" [class.spacer]="item.spacer" [attr.title]="item.title">
		<ng-container *ngTemplateOutlet="menuItem; context: {$implicit: item}"></ng-container>

		<ul @subMenu class="children" *ngIf="item.isOpen" z="3">
			<li *ngFor="let child of item.children" [theme]="child.theme">
				<ng-container *ngTemplateOutlet="menuItem; context: {$implicit: child}"></ng-container>
			</li>
		</ul>
	</li>
</ul>

<ng-template #menuItem let-item>
	<a *ngIf="item.routerLink" [routerLink]="item.routerLink" [queryParams]="item.queryParams">
		<ng-container *ngTemplateOutlet="itemContent; context: {$implicit: item}"></ng-container> 
	</a>

	<a *ngIf="!item.routerLink && !item.spacer" href="#" (click)="onClick($event, item)">
		<ng-container *ngTemplateOutlet="itemContent; context: {$implicit: item}"></ng-container> 
	</a>
</ng-template>

<ng-template #itemContent let-item>
	<ui-icon *ngIf="item.icon" [icon]="item.icon"></ui-icon>
	<span *ngIf="item.title && !item.hideTitle">
		{{item.title}}
	</span>
	<ui-icon *ngIf="item.children && item.children.length > 0" [icon]="item.isOpen ? 'arrow_drop_up' : 'arrow_drop_down'"></ui-icon>
</ng-template>