:host {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	flex-shrink: 0;
	align-items: stretch;
}

a {
	color: inherit;
	fill: inherit;
}
a:hover {
	text-decoration: none;
}

nav {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	position: relative;
	z-index: 2;
	flex-grow: 1;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	align-items: stretch;
	background-color: rgba(0,0,0,.1);
}
	nav ul > li {
		display: flex;
		flex-direction: column;
	}
		nav ul > li > a {
			display: flex;
			flex-grow: 1;
			padding: 0 20px;
			box-sizing: content-box;
			align-items: center;
			justify-content: center;
			transition: all .3s ease-in-out;
			transform-origin: center center;
			text-decoration: none !important;
			border-right: 1px solid rgba(0,0,0,.1);
		}

		nav ul > li:last-child > a { 
			border-right: none;
		}

		nav ul > li.logo > a {
			padding: 0 10px;
		}

		nav ul > li > a.active {
			background-color: rgba(0,0,0,.75);
			color: #F5F5F5;
		}


nav.sub-nav {
	margin-bottom: 0;
	z-index: 1;
}
nav.sub-nav ul {
	padding: 5px 10px;
	background-color: rgba(0,0,0,.1);
}
nav.sub-nav a {
	width: 30px;
	height: 30px;
}
nav.sub-nav a.active {
	transform: none;
}
nav.sub-nav .material-icons {
	font-size: 20px;
}