:host {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	color: #212121;
	fill: #212121;
	padding: 20px;
}

:host /deep/ footer {
	border-top: 1px solid rgba(0,0,0,.1);
	margin: 0 -20px;
	padding: 20px;
}
:host /deep/ footer[short] {
	padding: 10px 20px;
}
:host /deep/ footer:last-child {
	margin-bottom: -20px;
	margin-top: 10px;
}