<form #form="ngForm" (ngSubmit)="submit(form)">
	<input type="submit" hidden>
	<ui-card z="1">
		<h2>Import Game</h2>
		<p class="lead">
			{{game.title}} has not yet been added to xZor, use the form below to import it from
			<a [routerLink]="['/sources', source.slug]">{{source.name}}</a>.
		</p>

		<div class="row">
			<div class="col-lg-8">
				<div class="form-group" [class.has-danger]="!!errors.title">
					<label>Game Title</label>
					<input type="text" class="form-control" name="title" [(ngModel)]="game.title">
					<div class="form-control-feedback" *ngIf="errors.title">{{errors?.title}}</div>
				</div>
				<div class="form-group" [class.has-danger]="!!errors.description">
					<label>Description</label>
					<textarea class="form-control" rows="3" name="description" [(ngModel)]="game.description"></textarea>
					<div class="form-control-feedback" *ngIf="errors.description">{{errors?.description}}</div>
				</div>
				<div class="form-group" [class.has-danger]="!!errors.slug">
					<label>Path</label>
					<div class="input-group">
						<span class="input-group-addon">{{environment.baseUrl}}/games/</span>
						<input type="text" class="form-control" name="slug" [(ngModel)]="game.slug">
					</div>
					<div class="form-control-feedback" *ngIf="errors.slug">{{errors?.slug}}</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label>Cover Image</label>
							<game-image-editor [(image)]="game.coverImage"></game-image-editor>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Background Color</label>
							<p>
								<input type="color" name="background" value="#ffffff" [(ngModel)]="game.theme.background">
							</p>
						</div>
						<div class="form-group">
							<label>Text Color</label>
							<p>
								<input type="color" name="text" value="#212121" [(ngModel)]="game.theme.text">
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="form-group">
					<label>Preview</label>
					<game-tile [game]="game" z="2"></game-tile>
				</div>
			</div>
		</div>

		<footer class="text-right">
			<ui-button value="Cancel" (click)="cancelImport($event)"></ui-button>
			<ui-button value="Import"></ui-button>
		</footer>
	</ui-card>
</form>