:host {
	display: flex;
	align-items: center;
	padding: 5px;
	cursor: pointer;
	transition: all .2s ease-in-out;
}

:host(:hover) {
	background-color: rgba(0,0,0,.25)
}

ui-icon + .title { margin-left: 5px; }