<a class="toggle" [class.active]="isOpen" href="#" (click)="toggle($event)">
	<i class="material-icons">face</i>
</a>

<div @expansion *ngIf="isOpen" z="5" class="expanded" [theme]="account?.theme">
	<ng-template [ngIf]="account?.isValid">
		<header>
			<h5>{{account.name}}</h5>
		</header>
		<ul class="nav">
			<li>
				<a routerLink="/account">My Account</a>
			</li>
			<li class="spacer"></li>
			<li>
				<a href="#" (click)="signOut($event)">
					<ui-icon icon="exit_to_app"></ui-icon>
					<span>Sign Out</span>
				</a>
			</li>
		</ul>
	</ng-template>
	<ng-template [ngIf]="!account?.isValid">
		<header class="sign-in">
			<h5>Sign In</h5>
			<p>
				Use one of the following services to sign into xZor
			</p>
		</header>
		<account-sign-in></account-sign-in>
	</ng-template>
</div>