:host {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	background-position: 50% 0;
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}

ui-header {
	position: relative;
}
	ui-header .cover {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 0;
		opacity: .15;
		overflow: hidden;
	}

	ui-header .container {
		position: relative;
		z-index: 1;
	}
	
.content {
	position: relative;
	padding-top: 30px;
	flex-grow: 1;
}

@media (max-width: 768px) {
	ui-header {
		background-size: auto;
	}
}