:host {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

ui-header { 
	min-height: 300px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 100%;
}
	ui-header .container {
		overflow: hidden;
	}
	
.content {
	position: relative;
	padding-top: 30px;
	flex-grow: 1;
}

@media (max-width: 768px) {
	ui-header {
		background-size: auto;
	}
}