<ng-template [ngIf]="!!game && !!source">
	<ui-header z="1" [theme]="game.theme">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="row align-items-center">
						<div class="col">
							<h1>{{game.title}}</h1>
						</div>
						<div class="col col-auto">
							<h6>Provided by <a [routerLink]="['/sources', source.slug]">{{source.name}}</a></h6>
						</div>
					</div>
					<p class="lead">{{game.description}}</p>
				</div>
			</div>
		</div>
	</ui-header>

	<div class="container">
		<ng-content></ng-content>
	</div>
</ng-template>