:host {
	display: block;
	position: relative;
}

.loading {
	z-index: 0;
	opacity: 0;
	visibility: hidden;
	transition: .2s ease-in-out;
	display: flex;
	align-items: center;
	align-self: flex-start;
}
	.loading > xzor-logo { margin-right: 5px; }

.loading.visible {
	opacity: 1;
	visibility: visible;
}

feed-quilt {
	position: relative;
	z-index: 1;
}