<nav>
	<ul>
		<li>
			<a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
				<i class="material-icons">home</i>
			</a>
		</li>
		<li>
			<a routerLink="/games" routerLinkActive="active">
				<i class="material-icons">videogame_asset</i>
			</a>
		</li>
		<li class="divider"></li>
		<li>
			<a routerLink="/account" routerLinkActive="active">
				<i class="material-icons">face</i>
			</a>
		</li>
		<li>
			<a routerLink="/settings">
				<i class="material-icons">settings</i>
			</a>
		</li>
	</ul>
</nav>