:host {
	display: flex;
	justify-content: center;
	align-items: stretch;
	background-color: rgba(0,0,0,.5);
}
	xzor-logo { display: block; }

	:host > ul {
		display: flex;
		flex-direction: row;
		align-items: stretch; 
		width: 50%;
		list-style: none;
		padding: 0;
		margin: 0;
	}
	:host > ul.right {
		justify-content: flex-end;
	}
	:host > ul.center {
		width: 80px;
		justify-content: center;
	}
		
		:host > ul a { 
			display: flex;
			flex-grow: 1;
			align-items: center;
			justify-content: center;
			padding: 0 15px;
			height: 60px;
			text-decoration: none;
		}
			:host > ul > li > a {
				position: relative;
				z-index: 1;
			}
			:host > ul a > i { margin-right: 15px; }
			:host > ul a > i:last-child { margin-right: 0; }

		:host > ul a:hover,
		:host > ul a:focus {
			text-decoration: none;
		}
		:host > ul a.active {
			background-color: rgba(0,0,0,.25);
		}

		:host ul > li {
			display: flex;
			position: relative;
		}
			:host ul > li > ul {
				display: flex;
				flex-direction: column;
				margin: 0;
				padding: 0;
				position: absolute;
				top: 70px;
				left: 10px;
				min-width: 200px;
				background-color: #212121;
				transform-origin: top left;
			}
				:host ul > li > ul a { 
					justify-content: flex-start;
					color: #fff;
				}


.menu .icon { 
	position: relative; 
	margin-top: 3px;
}

.menu .open-menu,
.menu .close-menu {
	transition: all .1s ease-in-out;
	transform-origin: 50% 50%;
}
.menu .close-menu {
	opacity: 0;
	transform: rotate(-135deg);
	position: absolute;
	left: 0;
	top: 0;
}
.menu.open .close-menu {
	opacity: 1;
	transform: rotate(0);
}
.menu.open .open-menu {
	opacity: 0;
	transform: rotate(135deg);
}