header {
	display: flex;
	flex-grow: 1;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 60px;
	background-color: rgba(0,0,0,.5);
	z-index: 100;
}
	header > ui-menu {
		flex-grow: 1;
	}

app-nav {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 25;
}

account-menu {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 50;
}

notifications-menu {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 75;
	max-height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

@media (min-width: 1600px) {
	app-nav {
		z-index: 200;
	}
}