<nav>
	<section class="left">
		<a routerLink="/games" routerLinkActive="active">
			<i class="material-icons">videogame_asset</i>
		</a>
	</section>
	<section class="center">
		<a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
			<xzor-logo size="60" [spinning]="loading"></xzor-logo>
		</a>
	</section>
	<section class="right">
		<a routerLink="/account" routerLinkActive="active">
			<i class="material-icons">face</i>
		</a>
	</section>
</nav>

<div class="outlet">
	<router-outlet></router-outlet>
</div>