:host {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.outlet {
	position: relative;
	flex-grow: 1;
	padding-bottom: 30px;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: stretch;
	z-index: 100;
	background-color: rgba(0,0,0,.25);
}
	nav xzor-logo { display: block; }

	nav > ul {
		display: flex;
		flex-direction: row;
		align-items: stretch; 
		width: 50%;
		list-style: none;
		padding: 0;
		margin: 0;
	}
	nav > ul.right {
		justify-content: flex-end;
	}
	nav > ul.center {
		width: 80px;
		justify-content: center;
	}
		
		nav > ul a { 
			display: flex;
			flex-grow: 1;
			align-items: center;
			justify-content: center;
			padding: 0 15px;
			text-decoration: none;
		}
			nav > ul a > i { margin-right: 15px; }
			nav > ul a > i:last-child { margin-right: 0; }

		nav > ul a:hover,
		nav > ul a:focus {
			text-decoration: none;
			background-color: rgba(0,0,0,.1);
		}
		nav > ul a.active {
			background-color: rgba(0,0,0,.25);
		}
		nav > ul a.open {
			background-color: #212121;
		}

		nav ul > li {
			display: flex;
			flex-direction: column;
			position: relative;
		}
			nav ul > li > ul {
				display: flex;
				flex-direction: column;
				margin: 0;
				padding: 0;
				min-width: 250px;
				position: absolute;
				top: 100%;
				background-color: #212121;
			}
				nav ul > li > ul a { 
					padding-top: 15px; 
					padding-bottom: 15px; 
					justify-content: flex-start;
					color: #fff;
				}

ui-spinner {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -40px;
	margin-top: -40px;
	z-index: 200;
}