<nav>
	<ul class="left">
		<li (mouseenter)="openMenu()" (mouseleave)="closeMenu()">
			<a href="#" (click)="$event.preventDefault()" [class.open]="menuOpen">
				<i class="material-icons">menu</i>
			</a>
			<ul *ngIf="menuOpen">
				<li>
					<a routerLink="/games" routerLinkActive="active">
						<i class="material-icons">videogame_asset</i>
						<span>Games</span>
					</a>
				</li>
				<li>
					<a routerLink="/gamers" routerLinkActive="active">
						<i class="material-icons">person</i>
						<span>Gamers</span>
					</a>
				</li>
				<li>
					<a routerLink="/teams" routerLinkActive="active">
						<i class="material-icons">group</i>
						<span>Teams</span>
					</a>
				</li>
				<li>
					<a routerLink="/sources" routerLinkActive="active">
						<i class="material-icons">store</i>
						<span>Sources</span>
					</a>
				</li>
			</ul>
		</li>
	</ul>
	<ul class="center">
		<li>
			<a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
				<xzor-logo size="60" [spinning]="loading"></xzor-logo>
			</a>
		</li>
	</ul>
	<ul class="right">
		<li *ngIf="account">
			<a routerLink="/account" routerLinkActive="active">
				<i class="material-icons">face</i>
			</a>
		</li>
	</ul>
</nav>

<div class="outlet">
	<router-outlet></router-outlet>
</div>