:host {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.outlet {
	position: relative;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	padding-bottom: 30px;
}

.menu {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	height: 60px;
	background-color: rgba(0,0,0,.5);
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: stretch;
}
	.menu > .logo {
		flex-shrink: 0;
	}

	.menu > .left,
	.menu > .right {
		width: 50%;
		flex-grow: 1;
		display: flex;
	}

	.menu > .right {
		justify-content: flex-end;
	}