:host {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding-top: 70px;
}

.outlet {
	position: relative;
	flex-grow: 1;
}

.nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 70px;
	display: flex;
	justify-content: center;
	z-index: 100;
}

ui-spinner {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -40px;
	margin-top: -40px;
	z-index: 200;
}