<div class="row">
	<div class="col-md-6 col-lg-4" *ngFor="let provider of providers">
		<ui-card z="1" [theme]="provider.theme">
			<h4>{{provider.name}}</h4>

			<div class="form-group" *ngFor="let setting of provider.settings">
				<label class="form-label">{{setting.label}}</label>
				<input type="text" class="form-control" [attr.name]="setting.name" [(ngModel)]="setting.value">
				<small class="form-text text-muted">
					{{setting.description}}
				</small>
			</div>
		</ui-card>
	</div>
</div>