<form #form="ngForm" (ngSubmit)="submit(form)">
	<input type="submit" hidden>

	<div class="row">
		<div class="col-md-6">
			<ui-card z="1">
				<div class="form-group">
					<label>Game Title</label>
					<input type="text" class="form-control" [class.is-invalid]="errors.title" name="title" [(ngModel)]="game.title" maxlength="64">
					<div class="invalid-feedback" *ngIf="errors.title">{{errors.title}}</div>
				</div>

				<div class="form-group" *ngIf="!game.id">
					<label>URL</label>
					<xzor-url-picker 
						section="t" 
						[watch]="game.title" 
						[(uri)]="game.slug" 
						[error]="errors.slug"></xzor-url-picker>
					
					<div class="invalid-feedback" *ngIf="errors.slug">{{errors.slug}}</div>
					
					<small class="form-text text-muted">
						This will be the permanent path to the game from within xZor. Please only use alphanumeric
						characters <code>a-z 0-9</code>, hyphens <code>-</code>, and underscores <code>_</code>
					</small>
				</div>

				<div class="form-group">
					<label>Description</label>
					<textarea class="form-control" [class.is-invalid]="errors.description" rows="3" name="description" [(ngModel)]="game.description" maxlength="512"></textarea>
					<div class="invalid-feedback" *ngIf="errors.description">{{errors.description}}</div>
				</div>

				<div class="form-group">
					<label>Cover Image</label>
					<game-image-editor [url]="game.coverImage" (imageChange)="onImageChange($event)"></game-image-editor>
				</div>

				<div class="form-group">
					<label>Theme</label>
					<ui-theme-editor [(model)]="game.theme"></ui-theme-editor>
				</div>

				<footer>
					<ui-button [value]="game.id ? 'Save Changes' : 'Add Game'"></ui-button>
				</footer>
			</ui-card>
		</div>
		<div class="col-md-6">
			<div class="form-group preview" *ngIf="game.title">
				<label>Preview</label>
				<ui-tile [theme]="game.theme" [image]="game.coverImage">
					<h5>{{game.title}}</h5>
					<p *ngIf="game.description">
						{{game.description}}
					</p>
				</ui-tile>
			</div>
		</div>
	</div>
</form>