<ng-template [ngIf]="account.isValid">
	<ui-header z="2" theme>
		<div class="container">
			<h2>{{account.name}}</h2>
			<button (click)="signOut()">Sign Out</button>
		</div>
	</ui-header>

	<div class="container">
		<h1 class="display-1 text-center">Coming Soon</h1>
	</div>
</ng-template>

<ng-template [ngIf]="!account.isValid">
	<div class="container guest">
		<div class="row justify-content-center">
			<div class="col-md-6 col-lg-4">
				<account-sign-in></account-sign-in>
			</div>
		</div>
	</div>
</ng-template>