<ng-template [ngIf]="account">
	<header theme-background theme-color z="2">
		<div class="container" *ngIf="account">
			<h2>{{account.name}}</h2>
		</div>
	</header>

	<google-sign-in></google-sign-in>
</ng-template>

<div class="container guest" *ngIf="!loading && !account">
	<div class="row justify-content-center">
		<div class="col-md-6 col-lg-4">
			<ui-card z="5">
				<h1>Sign Into xZor</h1>
				<p class="lead">
					Use one of the following services to sign into xZor.  Once signed in, you 
					will be able to link your account with any other services.
				</p>
				
				<hr>

				<google-sign-in></google-sign-in>
			</ui-card>
		</div>
	</div>
</div>