<nav class="sub-nav" *ngIf="subNavItems.length > 0" [@subNav] theme-background theme-color>
	<ul>
		<li *ngFor="let item of subNavItems">
			<a *ngIf="item.routerLink" [routerLink]="item.routerLink" routerLinkActive="active">
				<i class="material-icons">{{item.icon}}</i>
			</a>
			<a href="#" *ngIf="!item.routerLink" [class.active]="item.active" (click)="onItemClick($event, item)">
				<i class="material-icons">{{item.icon}}</i>
			</a>
		</li>
	</ul>
</nav>

<nav theme-background theme-color>
	<ul>
		<li>
			<a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
				<i class="material-icons">home</i>
			</a>
		</li>
		<li>
			<a routerLink="/games" routerLinkActive="active">
				<i class="material-icons">videogame_asset</i>
			</a>
		</li>
		<li class="divider"></li>
		<li>
			<a routerLink="/account" routerLinkActive="active">
				<i class="material-icons">face</i>
			</a>
		</li>
		<li>
			<a routerLink="/settings">
				<i class="material-icons">settings</i>
			</a>
		</li>
	</ul>
</nav>