:host {
	display: flex;
	flex-direction: column;
	flex-grow: 0;
	flex-shrink: 0;
	align-items: stretch;
	box-shadow: 0 4px 10px rgba(0,0,0,.5);
}

a {
	color: inherit;
}
a:hover {
	text-decoration: none;
}

nav {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	position: relative;
	z-index: 2;
}

nav ul {
	margin: 0;
	padding: 15px 10px;
	list-style: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
	
nav li { 
	margin: 0 5px; 
}

nav li.divider {
	width: 1px;
	margin: 0 10px;
	align-self: stretch;
	background-color: rgba(0,0,0,.75);
}

nav a {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all .3s ease-in-out;
	transform-origin: center center;
	text-decoration: none !important;
}
nav a.active {
	background-color: rgba(0,0,0,.75);
	color: #F5F5F5;
	transform: scale(1.2);
}


nav.sub-nav {
	margin-bottom: 0;
	z-index: 1;
}
nav.sub-nav ul {
	padding: 5px 10px;
	background-color: rgba(0,0,0,.1);
}
nav.sub-nav a {
	width: 30px;
	height: 30px;
}
nav.sub-nav a.active {
	transform: none;
}
nav.sub-nav .material-icons {
	font-size: 20px;
}